In [6]:
import tabula
import pandas as pd
import os

In [22]:
WDIR = '../../Downloads'

In [28]:
res = [i for i in os.listdir(WDIR) if i.startswith("Mai")][0]
res

'Maild76bf445-e5c4-4c2e-9437-263e849618a6.pdf'

In [30]:
tabula.read_pdf(WDIR + '/'+res)[0]

'pages' argument isn't specified.Will extract only from page 1 by default.

,Sıra\rNo,Şube,Müşteri No,Müşteri Unvanı,GB No,GB Tarihi,Referans,GB Tutarı,GB\rDvz,Taahhüt\rVadesi,Açık İhracat\rTutarı,Açık Bedel\rTutarı,Takip\rStatüsü
0,1,479,41618763,SİNERJİK SİSTEMLER\rGÜVENLİK VE BİLİŞİM\rÇÖZÜM...,340431,07/12/2018,9904792377296,"625,00",EUR,07/06/2019,NaN,NaN,KAPALI
1,2,479,41618763,SİNERJİK SİSTEMLER\rGÜVENLİK VE BİLİŞİM\rÇÖZÜM...,82172,26/03/2019,9904792377292,"485,00",EUR,23/09/2019,NaN,NaN,KAPALI
2,3,479,41618763,SİNERJİK SİSTEMLER\rGÜVENLİK VE BİLİŞİM\rÇÖZÜM...,21237,29/04/2019,9904792377294,"1.670,00",EUR,28/10/2019,NaN,NaN,KAPALI
3,4,479,41618763,SİNERJİK SİSTEMLER\rGÜVENLİK VE BİLİŞİM\rÇÖZÜM...,105104,08/05/2019,9904792377295,"675,00",EUR,04/11/2019,NaN,NaN,KAPALI

In [34]:
res = [i for i in os.listdir(WDIR) if i.startswith("hesap")][0]
res

'hesaphareketi-01.pdf'

In [40]:
tabula.read_pdf(WDIR+ '/'+res,multiple_tables=False,pages=1)[0]

,Tarih,Açıklama İşlem Tutarı,Bakiye,Unnamed: 3,Dekont Numarası
0,08.01.2016,NaN,NaN,NaN,NaN
1,NaN,2015 YILI 2. YARIYIL,NaN,NaN,NaN
2,NaN,HESAP İŞLETİM ÜCRETİ,NaN,NaN,NaN
3,NaN,"-13,00","147,32",NaN,2016-01-08-13.39.02.616324
4,15.01.2016,INT DÖVİZ ALIŞ 6297811 2016-01-15-16.37.19.207...,"9.000,32",NaN,NaN
5,NaN,INT DÖVİZ SATIŞ,NaN,NaN,NaN
6,03.02.2016,"9088625 - 6297811 -2.010,00","6.990,32",NaN,2016-02-03-14.55.30.139577
7,NaN,EUR:3.20890,NaN,NaN,NaN
8,NaN,INT DÖVİZ SATIŞ,NaN,NaN,NaN
9,03.02.2016,"9088625 - 6297811 -491,04","6.499,28",NaN,2016-02-03-15.12.47.214273
10,NaN,EUR:3.20750,NaN,NaN,NaN
11,04.02.2016,NaN,NaN,NaN,NaN
12,NaN,6504793926537 Ref. Nolu,NaN,NaN,NaN
13,NaN,İthalat Bedeli Transferi,NaN,NaN,NaN
14,NaN,"-2.168,00","4.331,28",NaN,2016-02-04-09.59.12.365967
15,NaN,INT DÖVİZ SATIŞ,NaN,NaN,NaN
16,09.02.2016,"9088625 - 6297811 -501,21","3.830,07",NaN,2016-02-09-18.45.06.382528
17,NaN,EUR:3.29860,NaN,NaN,NaN
18,NaN,INT DÖVİZ SATIŞ,NaN,NaN,NaN
19,12.02.2016,"9088625 - 6297811 -304,20","3.525,87",NaN,2016-02-12-14.51.58.504085
20,NaN,EUR:3.28730,NaN,NaN,NaN
21,NaN,INT DÖVİZ SATIŞ,NaN,NaN,NaN
22,17.02.2016,"9088625 - 6297811 -368,36","3.157,51",NaN,2016-02-17-20.54.56.784314
23,NaN,EUR:3.25770,NaN,NaN,NaN
24,NaN,INT DÖVİZ SATIŞ,NaN,NaN,NaN
25,22.02.2016,"9088625 - 6297811 -559,62","2.597,89",NaN,2016-02-22-12.19.04.553598
26,NaN,EUR:3.25220,NaN,NaN,NaN
27,NaN,INT DÖVİZ SATIŞ,NaN,NaN,NaN
28,25.02.2016,"9088625 - 6297811 -75,01","2.522,88",NaN,2016-02-25-18.53.09.647469
29,NaN,EUR:3.19970,NaN,NaN,NaN
30,26.02.2016,INT DÖVİZ ALIŞ 6297811 2016-02-26-11.49.08.808...,"8.708,70",NaN,NaN
31,26.02.2016,INT DÖVİZ ALIŞ 6297811 2016-02-26-11.50.06.963...,"9.008,70",NaN,NaN
32,26.02.2016,NaN,NaN,NaN,NaN
33,NaN,6504793944883 Ref. Nolu,NaN,NaN,NaN
34,NaN,İthalat Bedeli Transferi,NaN,NaN,NaN
35,NaN,"-9.000,00","8,70",NaN,2016-02-26-13.01.10.110341